{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'error' %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% else %}
      <div class="alert alert-primary" role="alert">{{ message }}</div>
    {% endif %}
  {% endfor %}
{% endif %}

<form action="/change_password/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  Senha atual:<br>
  <input name="actual_password" type="password" required><br><br>
  Senha nova:<br>
  <input name="new_password" type="password" required><br><br>
  Repita a Senha nova:<br>
  <input name="repeated_password" type="password" required><br><br>
  <input type="submit" value="Submit">
</form>

<br>
<p>Não tem conta? <a href="/register/">Registre-se!</a></p>